:root {
  --bg-color: 230, 230, 230;
  --text-color: 0, 0, 0;
  --link-color: 102, 136, 170;
  --link-hover-color: 51, 170, 238;
  --red: 238, 136, 136;
  --blue: 136, 136, 250;
  --green: 136, 221, 136;
  --purple: 238, 136, 250;
  --yellow: 238, 221, 136;
  --cyan: 136, 221, 250;
  --orange: 238, 153, 102;
}
html,
body {
  font-family: "Work Sans", sans-serif;
  background: rgb(var(--bg-color));
  color: rgb(var(--text-color));
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
button {
  appearance: none;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
h1 {
  font-size: 48px;
  letter-spacing: 3px;
  margin: 0;
}
h3 {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0;
}
a {
  text-decoration: none;
  color: rgb(var(--link-color));
  outline: 0;
}
a:hover,
a:focus {
  color: rgb(var(--link-hover-color));
}
nav {
  font-weight: bold;
  left: 0;
  letter-spacing: 0.03em;
  margin: 10px 20px;
  position: absolute;
  top: 0;
}
.column {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.square {
  position: relative;
  width: 100%;
}
.square > div {
  padding-bottom: 100%;
  height: 0;
}
.viewport {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px 40px;
  margin: 0 auto;
  padding: 0 10px;
}
.viewport.snake {
  max-width: 800px;
}
.viewport.tetris {
  max-width: 1000px;
}
.ui {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  justify-content: center;
  margin: 18px 12px;
}
.game,
.deck,
.queue {
  margin-bottom: 8px;
  position: relative;
}
.game::before {
  content: attr(data-level);
}
.deck::before {
  content: "Deck";
}
.queue::before {
  content: "Queue";
}
.game::before,
.deck::before,
.queue::before {
  font-size: 16px;
  left: 0;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0 15px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  transform: translateY(-50%);
  white-space: pre;
}
canvas {
  border-radius: 2vw;
  box-shadow: 0 5px 13px -5px rgba(0, 0, 0, 0.1),
              0 3px  8px -5px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}
.scoreboard {
  margin: 50px 0 30px;
  text-align: center;
}
.score {
  margin: 12px 0 8px;
}
.spacer {
  display: inline-block;
  width: 10px;
}
.message {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
}
.controls {
  text-align: center;
}
.btn {
  background: #f4f4f4;
  border: 1px solid transparent;
  border-radius: 6px;
  margin: 0 2px 10px;
  outline: 0;
  padding: 8px 26px;
}
.legend {
  box-sizing: border-box;
  margin: 20px 0;
  max-width: 400px;
  width: 100%;
}
.legend dl {
  align-items: baseline;
  display: inline-grid;
  grid-gap: 0 20px;
  grid-template-columns: min-content max-content;
}
.legend dt,
.legend dd {
  margin: 0;
}
.legend dt {
  font-size: 0.85em;
  letter-spacing: 0.05em;
  white-space: nowrap;
}
.legend dd {
  opacity: 0.9;
}
@media (pointer: fine) {
  .btn:hover,
  .btn:focus {
    background: #e0e0e0;
    border-color: #333;
  }
}
@media (min-width: 768px) {
  canvas {
    border-radius: 12px;
  }
  .viewport {
    grid-template-columns: 1fr 350px;
    padding: 0 20px;
  }
  .ui {
    gap: 25px;
  }
  .game,
  .deck,
  .queue {
    margin-bottom: 15px;
  }
}
@font-face {
  font-family: "Work Sans";
  font-weight: regular;
  src: url("fonts/WorkSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Work Sans";
  font-weight: bold;
  src: url("fonts/WorkSans-Black.woff2") format("woff2");
}
